body {
	color: white;
	background-color: black;
}

h1 {
	font-size: 50px;
	background: -webkit-linear-gradient(white, gray);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

div.col-md-5 {
	margin-top: 30px;
	border: 3px solid red;
	border-style: dotted;
	height: 300px;
}

p {
	padding-top: 20px;
	padding-bottom: 20px;
}

#wordToGuess {
	font-family: monospace;
	letter-spacing: 10px;
}